.terminal-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  max-height: 100%;
  min-height: 200px;
  overflow: hidden;
  bottom: 0px;
}

.terminal-container .text-container {
  position:absolute;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  width: 100%;
  color: #FFF;
  bottom:0;
  left:0;
}


.terminal-cursor {
  background-color: #FFF;
  color: #000;
}

.overlay {
  background-image: url('http://s1.postimg.org/4h8j4czn3/overlay.png');
}
.bg1 {
}
.screen-height {
  height: 100vh;
  min-height: 700px;
}

@-webkit-keyframes updown {
  0%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-10px);}
}

@keyframes updown{
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
}

.down-arrow-container {
  color: #878787;
  -webkit-animation: updown 3s linear infinite;
  animation: updown 3s linear infinite;
  text-align: center;
  /* margin-top: 100px; */
}


.down-arrow-container .down-arrow {
  background-image: url('https://p.w3layouts.com/demos/jalil/web/images/dwn.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 40px;
  width: 100px;
  margin: 20px;
}

.face-image {
  height: 200px;
  width: 200px;
}

.main-content {
  height: 200px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.inlineblock {
  position: absolute;
  width: 80%;
}
.inlineblock.start-page {
  padding-top: 80px;  
}

.moveUp-enter {
  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(-100px,0,0);
  z-index: 10000;
}

.moveUp-enter.moveUp-enter-active {
  transform: translate3d(0px,0,0);
}

.moveUp-leave {
  transition-duration: .1s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0px,0,0);
  opacity: 1;
}

.moveUp-leave.moveUp-leave-active {
  transform: translate3d(0px,0,0);
  opacity: 0.1;
}

.text-shadow {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.21);
}

.social {
  text-align: center;
  width: 100px;
  height: 100px;
  color: #fff;
  line-height: 100px !important;
  margin: 20px;
}
.github-container {
  background: linear-gradient(to right bottom, #292929 50%, #000000 50%);
}
.linkedin-container {
  background: linear-gradient(to right bottom, #5F7B8F 50%, #375A73 50%);
}
.twitter-container {
  background: linear-gradient(to right bottom, #82CFEB 50%, #59BDE6 50%);
}
.email-container {
  background: linear-gradient(to right bottom, #DD6C60 50%, #A55048 50%);
}
