body {
  background-color: #022833;
}

.terminal-container {
  position: absolute;
  overflow: scroll;
  overflow-y: scroll;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 50%;
  color: #FFF;
  font-family: "Lucida Console", Monaco, monospace;
}
.terminal-container .text-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 10%;
}

.terminal-cursor {
  background-color: #FFF;
  color: #000;
}
